* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h5 {
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  font-size: 1.3rem;
  position: relative;
}

h5::after {
  content: "";
  display: block;
  width: 340px;
  height: 4px;
  margin: 8px auto 0;
  background: linear-gradient(#2b2847, #505887);
  border-radius: 2px;
}

.main-page {
  padding: 20px;
}

.card-col {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.main-card {
  width: 50%;
  border-radius: 16px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /*background: linear-gradient(145deg, #ffffff, #f5f7fa);*/
  text-align: center;
}

.main-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.ant-card-head {
  background: red;
  border: 5px solid;
  border-radius: 1rem 1rem 0 0;
}

::ng-deep .ant-card-head {
  width: 100%;
  /*padding: 9px;*/
  font-weight: bold;
  font-size: 1.1rem;
  color: #333;
  background-color: #dddddd;
  border: 1px solid #696969;
  border-radius: 1rem 1rem 0 0;
}

/*.ant-card-head-title {*/
/*  padding: 9px;*/
/*  font-weight: bold;*/
/*  font-size: 1.1rem;*/
/*  color: #333;*/
/*  background-color: #a7a7a7;*/
/*  border: 1px solid #696969;*/
/*  border-radius: 1rem 1rem 0 0;*/
/*}*/

.card-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 30px 10px;
}

.card-btn {
  min-width: 250px;
  height: 2rem;
  border-radius: 10px;
  font-weight: 600;
  transition: all 0.3s ease;
  color: white;
}

.btn-1 {
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  border: none;
  font-family: Monaco, "Lucida Console", monospace;
  padding: 5px;
  height: 2.5rem;
}

.btn-1:hover {
  background: linear-gradient(135deg, #00c6ff, #0072ff);
}

.btn-2 {
  background: linear-gradient(135deg, #43e97b, #38f9d7);
  border: none;
  padding: 2px;
  height: 2.5rem;
}

.btn-2:hover {
  background: linear-gradient(135deg, #29c76f, #21d4fd);
}

.btn-3 {
  background: linear-gradient(135deg, #fa709a, #fee140);
  border: none;
  color: #333;
  font-family: Monaco, "Lucida Console", monospace;
  padding: 5px;
  height: 2.5rem;
}

.btn-3:hover {
  background: linear-gradient(135deg, #ff758c, #ff7eb3);
  color: white;
}

a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .main-card {
    min-width: 95%;
  }

  .card-btn {
    width: 100%;
  }
}
