<div class="hero-background">
  <div class="content-wrapper">

    <div class="page-header">
      <h5>لطفا  یکی از گزینه های مرتبط را انتخاب کنید .</h5>
    </div>

    <div class="cards-container">
      <nz-row [nzGutter]="[24, 32]" nzJustify="center">
        <div
          *ngFor="let item of Data"
          nz-col
          [nzXs]="24"
          [nzSm]="24"
          [nzMd]="24"
          [nzLg]="6"
          [nzXl]="6"
          class="card-wrapper"
        >
          <nz-card class="main-card">
            <div
              class="bg-image"
              [style.background-image]="'url(' + item.img + ')'"
            ></div>

            <div
              class="bg-overlay"
              [style.background]="item.overlay"
            ></div>

            <div class="card-content">
              <h3 [style.color]="item.colorText">{{ item.title }}</h3>

              <div
                class="degree-circle"
                [style.background-color]="item.colorText"
              >
                <span class="degree-number">{{ item.degree | persianDigits }}</span>
              </div>
            </div>

            <div class="card-buttons">
              <button
                *ngFor="let btn of item.buttons"
                nz-button
                [style.background-color]="btn.bgcolor"
                [style.color]="btn.color"
                [style.font-size]="item.size"
                [style.font-weight]="item.weight"
                (click)="onButtonClick(btn.action, item)"
                class="action-btn"
              >
                {{ btn.text }}
              </button>
            </div>
          </nz-card>
        </div>
      </nz-row>
    </div>

  </div>
</div>

<router-outlet/>
