<div class="table-container">
  <div nz-row nzJustify="center" class="image-row">
    <div nz-col xs="22" sm="20" md="16" lg="12" xl="10" class="pic-container">
      <div class="card-body" [innerHTML]="text | safeHtml"></div>
    </div>
  </div>
  <div class="education-table-wrapper">
    <nz-table
      [nzData]="data"
      [nzPageSize]="pageSize"
      nzBordered
      class="modern-table"
    >
      <thead>
      <tr>
        <th [style.background-color]="theme.light">نام مدرسه</th>
        <th [style.background-color]="theme.light">استان</th>
        <th [style.background-color]="theme.light">شهر</th>
        <th [style.background-color]="theme.light">رشته</th>
        <th
          [style.background-color]="theme.light"
          nzShowSort
          [nzSortOrder]="sortKey === 'capacityDaily' ? sortOrder : null"
          [nzSortFn]="false"
          (nzSortOrderChange)="handleSort('capacityDaily', $event)">
          ظرفیت روزانه
        </th>
        <th
          [style.background-color]="theme.light"
          nzShowSort
          [nzSortOrder]="sortKey === 'capacityDormitory' ? sortOrder : null"
          [nzSortFn]="false"
          (nzSortOrderChange)="handleSort('capacityDormitory', $event)">
          ظرفیت شبانه‌روزی
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of data">
        <td>{{ item.schoolName }}</td>
        <td>{{ item.provinceName }}</td>
        <td>{{ item.cityName }}</td>
        <td>{{ item.fieldName }}</td>
        <td>{{ item.capacityDaily }}</td>
        <td>{{ item.capacityDormitory }}</td>
      </tr>
      </tbody>
    </nz-table>
  </div>
  <div class="btn-group">
    <button
      nz-button
      nzType="primary"
      [style.background-color]="theme.primary"
      class="btn"
      [routerLink]="['/']">
      <nz-icon nzType="right"/>
      بازگشت به صفحه اصلی
    </button>
  </div>
</div>
