<div class="table-container">
  <nz-table
    [nzData]="data"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    [nzTotal]="total"
    nzShowPagination
    nzBordered
    class="modern-table"
  >
    <thead>
    <tr>
      <th nzShowSort nzSortKey="schoolName">نام مدرسه</th>
      <th nzShowSort nzSortKey="provinceName">استان</th>
      <th nzShowSort nzSortKey="cityName">شهر</th>
      <th nzShowSort nzSortKey="fieldName">رشته</th>
      <th nzShowSort nzSortKey="capacityDaily">ظرفیت روزانه</th>
      <th nzShowSort nzSortKey="capacityDormitory">ظرفیت شبانه‌روزی</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let item of data" class="row-hover">
      <td>{{ item.schoolName }}</td>
      <td>{{ item.provinceName }}</td>
      <td>{{ item.cityName }}</td>
      <td>{{ item.fieldName }}</td>
      <td>{{ item.capacityDaily }}</td>
      <td>{{ item.capacityDormitory }}</td>
    </tr>
    </tbody>
  </nz-table>
</div>
