<div class="table-container">
  <nz-table
    [nzData]="cars"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    [nzTotal]="total"
    nzShowPagination
    nzBordered
    class="modern-table"
  >
    <thead>
    <tr>
      <th nzShowSort nzSortKey="make" nzWidth="140px">نام و نام خانوادگی</th>
      <th nzShowSort nzSortKey="model">ایمیل</th>
      <th nzShowSort nzSortKey="price">سن</th>
      <th nzWidth="140px">وضعیت فعالیت</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let car of cars" class="row-hover">
      <td>{{ car.name }}</td>
      <td>{{ car.email }}</td>
      <td>{{ car.age | number }}</td>
      <td>
        <span *ngIf="car.active" class="tag tag-green">Yes</span>
        <span *ngIf="!car.active" class="tag tag-gray">No</span>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>

