.main-container {
  padding: 2rem 1rem;
  min-height: 100vh;
  direction: rtl;
}

.image-row {
  margin-bottom: 3rem;
}

.responsive-img {
  max-width: 100%;
  height: auto;
}

.form-col {
  width: 50%;
  border-radius: 8px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

.form-card {
  width: 100%;
  padding: 2rem;
  border-radius: 8px;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s;
}

.lable {
  display: flex;
  justify-content: start;
}

.form-title {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #1a1a1a;
  font-weight: 600;
  font-size: 1.1rem;
}

.btn-group {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  flex-wrap: wrap;
}

btn-enter {
  flex: 1;
  min-width: 100px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .main-container {
    padding: 1rem 0.5rem;
  }

  .form-card {
    padding: 1.5rem;
  }

  .forms-row {
    gap: 1rem;
  }
}
