<!--<form [formGroup]="form" (ngSubmit)="onNext()">-->
<!--  <div nz-row [nzGutter]="[16, 16]">-->
<!--    <div nz-col [nzXs]="24" [nzSm]="12" [nzLg]="8" *ngFor="let field of fields">-->
<!--      <app-dynamic-form [field]="field" />-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="mt-8 text-left">-->
<!--    <button-->
<!--      nz-button-->
<!--      nzType="primary"-->
<!--      nzSize="large"-->
<!--      [disabled]="form.invalid"-->
<!--      type="submit">-->
<!--      ادامه به مرحله بعد-->
<!--    </button>-->
<!--  </div>-->
<!--</form>-->
