<!--<div *ngIf="showErrors" class="text-danger text-sm mt-1">-->
<!--  <ng-container *ngIf="control?.errors as errors">-->
<!--&lt;!&ndash;    <div *ngIf="errors['required']">این فیلد الزامی است.</div>&ndash;&gt;-->
<!--    <div *ngIf="errors['minlength']">-->
<!--&lt;!&ndash;      حداقل {{ errors['minlength'].requiredLength }} کاراکتر وارد کنید.&ndash;&gt;-->
<!--    </div>-->
<!--    <div *ngIf="errors['maxlength']">-->
<!--      حداکثر {{ errors['maxlength'].requiredLength }} کاراکتر مجاز است.-->
<!--    </div>-->
<!--    <div *ngIf="errors['pattern']">فرمت وارد شده صحیح نیست.</div>-->
<!--    <div *ngIf="errors['email']">ایمیل معتبر وارد کنید.</div>-->
<!--    <div *ngIf="errors['invalidLastName']">نام خانوادگی معتبر نیست.</div>-->
<!--  </ng-container>-->
<!--</div>-->
