<div class="jalali-calendar-container" dir="rtl">

  <div class="calendar-header">
    <button nz-button nzType="primary" class="btn-icon" (click)="prevMonth()">
      <nz-icon nzType="right" class="icon-in-btn"/>
    </button>

    <div class="date-selector">
      <select class="year-select" (change)="onYearChange($event)" [value]="year()">
        <option *ngFor="let y of years" [value]="y">
          {{ toPersianDigits(y) }}
        </option>
      </select>

      <select class="month-select" (change)="onMonthChange($event)" [value]="currentDate().getMonth()">
        <option *ngFor="let m of persianMonths; let i = index" [value]="i">
          {{ m }}
        </option>
      </select>
    </div>

    <button nz-button nzType="primary" class="btn-icon" (click)="nextMonth()">
      <nz-icon nzType="left" class="icon-in-btn"/>
    </button>
  </div>

  <div class="month-title">
    {{ toPersianDigits(monthName()) }} {{ toPersianDigits(year()) }}
  </div>
  <div class="weekdays">
    <div *ngFor="let day of weekDays">{{ day }}</div>
  </div>

  <div class="days-grid">
    <div
      *ngFor="let cell of calendarGrid(); let i = index"
      class="day-cell"
      [class.empty]="!cell"
      [class.selected]="isSelected(cell)"
      [class.today]="isToday(cell)"
      [class.holiday]="isHoliday(cell)"
      (click)="cell && selectDay(cell)"
    >

      <span *ngIf="cell">{{ toJalaliDayPersian(cell) }}</span>
    </div>
  </div>

</div>
