.page {
  padding: 25px;
}

nz-steps.ant-steps.ant-steps-horizontal.ant-steps-label-horizontal.ant-steps-rtl {
  border: 1px solid #a8a8a8;
  border-radius: 10px;
  padding: 17px;
}

.title-step {
  font-weight: bold;
}
