<div class="page">
  <nz-steps [nzCurrent]="current">
    @for (step of steps; track $index) {
    <nz-step
      class="title-step"
      [nzTitle]="step.title"
      [nzIcon]="$index < current ? 'check-circle' : step.icon">
    </nz-step>
    }
  </nz-steps>

  <div>
    <ng-container>
      @switch(current){
      @case (0) {
      <app-important-option (nextStep)="next()"></app-important-option>
      }
      @case (1) {
      <app-register-serial (nextStep1)="next()"></app-register-serial>
      }
      @case (2) {
      <app-enter-information (nextStep2)="next()"></app-enter-information>
      }
      @case (3) {
      <app-upload-file (nextStep3)="next()"></app-upload-file>
      }
      @case (4) {
      <app-print-data (nextStep4)="next()"></app-print-data>
      }
      }
    </ng-container>
  </div>
</div>
  <div class="steps-action">
    @if (current > 0) {
    <button nz-button nzType="default" (click)="pre()">
      <span>Previous</span>
    </button>
    }
    @if (current < 4) {
    <button nz-button nzType="default" (click)="next()">
      <span>Next</span>
    </button>
    }
    @if (current === 4) {
    <button nz-button nzType="primary" (click)="done()">
      <span>Done</span>
    </button>
    }
  </div>

