.page {
  padding: 25px;
}

nz-steps.ant-steps.ant-steps-horizontal.ant-steps-label-horizontal.ant-steps-rtl {
  padding: 25px;
}

.title-step {
  font-weight: bold;
}

.completed {
  border-radius: 50%;
  background: #E8E8E8;
}

.current {
  border-radius: 50%;
  background: #37C3FF;
}

.finish-step {
  background: #ff0a0a;
  border-radius: 50%;
}
