:host {
  margin-left: auto;

  .action-item {
    margin-right: 10px;
  }
}
.file-uploader-1{
  color: var(--search-highlight) !important;
}

.upload-content {
  display: flex;
  align-items: center !important;
  justify-content: center;
  border: 1px solid #cec9c9;
  padding: 10px;
  font-size: 12px;
  border-radius: 8px;
  color: #666666;
}
