:host {
  margin-left: auto;

  .action-item {
    margin-right: 10px;
  }
}

.file-uploader-1 {
  color: var(--search-highlight) !important;
}

.smart-upload-btn {
  border-radius: 6px;
  height: 40px;
  min-width: 140px;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #e0dfdf;
}


