<!--<ng-container *ngIf="multiple">-->
<div class="file-uploader-wrapper">
  <div class="upload-area" [class.dragging]="isDragging" [class.disabled]="disabled || loading">
    <input
      type="file"
      class="input-custom"
      [id]="controlName + '_input'"
      [accept]="accept"
      [multiple]="multiple"
      [disabled]="disabled || loading"
      (change)="onFileSelectedMultiple($event)"
      style="display: none"
    >

    <label [for]="controlName + '_input'" class="upload-label">
      <div class="upload-content">
        <span>{{ placeholder }}</span>
      </div>
    </label>
  </div>
</div>
<!--</ng-container>-->

<!--<ng-container *ngIf="!multiple">-->
<!--  <div class="file-uploader-wrapper">-->
<!--    <div class="upload-area" [class.disabled]="disabled || loading">-->
<!--      &lt;!&ndash; input فایل &ndash;&gt;-->
<!--      <input-->
<!--        type="file"-->
<!--        [id]="controlName + '_input'"-->
<!--        [accept]="accept"-->
<!--        [disabled]="disabled || loading"-->
<!--        (change)="onFileSelectedMultiple($event)"-->
<!--        style="display: none"-->
<!--      />-->

<!--      <label [for]="controlName + '_input'" class="upload-label">-->
<!--        <span>{{ placeholder }}</span>-->
<!--      </label>-->
<!--    </div>-->

<!--  </div>-->

<!--</ng-container>-->
