<div class="file-uploader-wrapper">
  <div class="upload-area" [class.dragging]="isDragging" [class.disabled]="disabled || loading">

    <input
      type="file"
      class="input-custom"
      [id]="controlName + '_input'"
      [accept]="accept"
      [multiple]="multiple"
      [disabled]="loading"
      (change)="onFileSelectedMultiple($event)"
      hidden
    >

    <button
      type="button"
      class="smart-upload-btn"
      [disabled]="loading"
      (click)="handleClick()"
      [ngStyle]="{
    'background-color': hasFile() ? '#ffffff' : theme.primary,
    'color': hasFile() ? '#666666' : '#ffffff'
  }"
    >

      <ng-container *ngIf="hasFile(); else uploadState">
        ️ حذف فایل
        <nz-icon nzType="close" nzTheme="outline" style="margin: 5px; color: red;"/>
      </ng-container>

      <ng-template #uploadState>
        {{ placeholder }}
      </ng-template>

    </button>

  </div>
</div>
