.page {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0 auto;
}

.interview-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 48px 40px;
  border-radius: 20px;
}

.interview-title {
  text-align: right;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 32px;
  color: var(--primary-color);
}

nz-form-item {
  margin-bottom: 28px;
}

nz-form-label {
  justify-content: start;
  width: 20%;
  display: flex;
  padding-top: 10px;
  font-weight: 600;
  /*margin-bottom: 8px;*/
  color: var(--text-color);
  font-size: 15px;
  align-items: start;
}

nz-form-control nz-select {
  width: 100%;
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.btn {
  color: #ffffff !important;
  border-radius: 12px !important;
  height: 48px;
  min-width: 160px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  /*gap: 8px;*/
  transition: all 0.3s ease;
  flex: 1;
  max-width: 200px;
}

.btn[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
  transform: none;
}

.selected-time-display-data {
  color: #555555 !important;
  line-height: 35px !important;
}

.selected-time-display {
  margin-top: 32px;
  padding: 20px;
  color: #555555;
  border-radius: 12px;
  text-align: right;
  font-size: 17px;
  font-weight: 500;
}

.no-times {
  text-align: center;
  color: #999;
  font-size: 16px;
  margin: 20px 0;
}

:host ::ng-deep .ant-select {
  width: 100% !important;
  height: 40px !important;
  padding-top: 5px !important;
  margin-bottom: 7px !important;
}

:host ::ng-deep .ant-select-selector {
  height: 40px !important;
  border-radius: 6px !important;
  border: 1px solid #d9d9d9 !important;
  /*padding: 0 12px !important;*/
  font-size: 12px !important;
  display: flex !important;
  align-items: center !important;
}

:host ::ng-deep .ant-select-selection-item {
  line-height: normal !important;
  font-size: 12px !important;
}

:host ::ng-deep .ant-select-selection-placeholder {
  line-height: normal !important;
  font-size: 12px !important;
}

:host ::ng-deep .ant-select-arrow {
  padding-top: 10px !important;
}

.input-custom {

}
