<div class="all-page">
  <form [formGroup]="uploadFileForm" (ngSubmit)="onSubmit()">
    <div nz-row class="upload-file" nzGutter="16" [style.background-color]="theme.overlay">
      <div nz-col nzXs="24" nzMd="8" nzSm="24" *ngFor="let field of fileFields">
        <div class="card">
          <div class="card-content">
            <label class="label">
              {{ field.label }}
              <span *ngIf="field.required" class="required">*</span>
            </label>

            <ng-container *ngIf="field.controlName === 'personalPicture'; else regularUploader">
              <button
                type="button"
                class="smart-upload-btn"
                [disabled]="loading[field.controlName] || !!uploadFileForm.get(field.controlName)?.value"
                (click)="triggerPersonalPictureInput()"
                [ngStyle]="{
                  'background-color': uploadFileForm.get(field.controlName)?.value ? '#ffffff' : theme.primary,
                  'color': uploadFileForm.get(field.controlName)?.value ? '#666666' : '#ffffff'
                }"
              >
                <span *ngIf="!uploadFileForm.get(field.controlName)?.value; else hasPersonalFile">
                  {{ field.buttonText }}
                </span>
                <ng-template #hasPersonalFile>
                  <div (click)="onFileRemove(field.controlName)">
                    حذف تصویر شخصی
                    <nz-icon nzType="close" nzTheme="outline" style="margin: 5px; color: red;"/>
                  </div>
                </ng-template>
              </button>

              <input
                #personalPictureInput
                type="file"
                accept=".jpg,.jpeg,.png"
                (change)="onPersonalPictureSelected($event)"
                style="display: none"
              />
            </ng-container>

            <ng-template #regularUploader>
              <app-file-uploader
                [form]="uploadFileForm"
                [controlName]="field.controlName"
                [type]="'document'"
                [accept]="'.pdf,.jpg,.jpeg,.png'"
                [placeholder]="field.buttonText"
                [folderName]="'register/register_' + id"
                [loading]="loading[field.controlName]"
                (upload)="onFileUpload(field.controlName, $event)"
                (remove)="onFileRemove(field.controlName)"
              ></app-file-uploader>
            </ng-template>

            <div
              *ngIf="uploadFileForm.get(field.controlName)?.touched && uploadFileForm.get(field.controlName)?.hasError('required')"
              class="error-text"
            >
              این فیلد الزامی است
            </div>
          </div>
        </div>
      </div>
    </div>

    <nz-modal
      [(nzVisible)]="showCropperModal"
      nzTitle="برش تصویر شخصی"
      [nzFooter]="null"
      (nzOnCancel)="cancelCrop()"
      [nzWidth]="600"
      nzCentered
    >
      <ng-container *nzModalContent>
        <div class="cropper-modal">
          <image-cropper
            [imageChangedEvent]="cropperEvent"
            [maintainAspectRatio]="true"
            [aspectRatio]="3/4"
            format="png"
            output="blob"
            [imageQuality]="100"
            (imageCropped)="onImageCropped($event)"
            (imageLoaded)="cropperReady()"
            (loadImageFailed)="loadImageFailed()"
            class="cropper"
          ></image-cropper>

          <div class="cropper-actions">
            <button nz-button nzType="default" (click)="cancelCrop()">
              لغو
            </button>
            <button nz-button nzType="primary" [disabled]="!croppedBlob" (click)="saveCroppedImage()">
              تأیید و ذخیره
            </button>
          </div>
        </div>
      </ng-container>
    </nz-modal>

    <div class="form-actions">
      <button
        class="button-custom"
        nz-button
        nzType="primary"
        type="submit"
        [nzLoading]="isSubmitting"
        [disabled]="isSubmitting"
      >
        ثبت مدارک
      </button>
    </div>
  </form>
</div>
