.register-serial {
  padding-top: 15px;
  padding-bottom: 10px;
}

.titlePage {
  color: #f8f8f8;
  /*text-shadow: 0px 2px 6px rgba(0,0,0,0.3);*/
}

h5::after {
  content: "";
  display: block;
  width: 130px;
  height: 4px;
  margin-top: 8px;
  background: linear-gradient(#2b2847, #505887);
  border-radius: 2px;
}

h5 {
  text-align: start;
}

.description {
  white-space: pre-line;
  font-size: 13px;
  line-height: 26px;
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: rgba(0, 0, 0, 0.85);
  font-weight: bold;
  font-size: 19px;
}

.lable {
  font-weight: bold;
}

.btn-next {
  border-radius:5px;
}

.btn-right {
  margin: 15px;
}

.input {
  width: 50%;
  height: 42px;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  padding: 0 12px;
  font-size: 0.95rem;
  transition: all 0.3s ease;
  background-color: #fff;
}

.section-one {
  background: rgb(226, 226, 226);
  color: black;
  padding: 15px;
  border-radius: 1rem;
  margin: 15px;
}

.form {
  padding-right: 15px;
}
