<div nz-row class="register-serial">
  <div nz-col [nzSpan]="24">
    <div *ngFor="let i of Data">
      <div class="titlePage">
        <h5>
          {{ i.title }}
        </h5>
      </div>
      <div class="description">
        <p>
          {{ i.description }}
        </p>
      </div>
    </div>
    <div>
      <form [formGroup]="serialForm">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="24" nzFor="serial" class="lable" nzRequired>سریال کارت خرید ثبت نام</nz-form-label>
          <nz-form-control [nzSm]="20" [nzXs]="24">
            <input nz-input type="text" id="serial" formControlName="serial" class="input" />
          </nz-form-control>
        </nz-form-item>
      </form>
      <button class="btn-next" type="submit" nz-button nzType="primary" [nzSize]="size" [disabled]="!serialForm.valid"
              (click)="nextStep()">
        مرحله بعد
      </button>
    </div>
  </div>
</div>
