<div nz-row
     [style.--primary-color]="theme.primary"
     [style.--light-color]="theme.light"
     [style.--text-color]="theme.text"
     [style.--overlay]="theme.overlay">
  <div nz-col [nzSpan]="24" class="print-data">
    <div class="data">
      <div class="card-wrapper" [style.background]="theme.overlay">
        <div class="print-head">
          <h3 [style.color]="theme.primary">اطلاعات کاربر</h3>
        </div>
        <div class="card">

          <!-- اطلاعات -->
          <div class="information">
            <form [formGroup]="printForm" class="print-form">

              <div class="form-row">
                <label class="label">نام و نام خانوادگی :</label>
                <input nz-input formControlName="fullName" />
              </div>

              <div class="form-row">
                <label class="label">کد ملی :</label>
                <input nz-input formControlName="nationalCode" />
              </div>

              <div class="form-row">
                <label class="label">ایمیل :</label>
                <input nz-input formControlName="email" />
              </div>

              <div class="form-row">
                <label class="label">شماره تماس :</label>
                <input nz-input formControlName="phoneNumber" />
              </div>

            </form>
          </div>

          <!-- عکس -->
          <div class="print-header">
            <img
              *ngIf="data?.photo"
              [src]="data.photo"
              class="print-photo"
              alt="عکس کاربر"
            />
            <div *ngIf="!data?.photo" class="photo-placeholder">
              بدون عکس
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
<div class="print-controls">
  <button (click)="print()" class="btn-confirm-option">چاپ اطلاعات</button>
    <button
      nz-button
      nzType="primary"
      [style.background-color]="theme.primary"
      class="btn"
      [routerLink]="['/']">
      <nz-icon nzType="right"/>
      بازگشت به صفحه اصلی
    </button>
</div>

