<div nz-row
     [style.--primary-color]="theme.primary"
     [style.--light-color]="theme.light"
     [style.--text-color]="theme.text"
     [style.--overlay]="theme.overlay"
     class="important-option">
  <div nz-col [nzSpan]="24">
    <div class="card-header">
      <p>صفحه ثبت نام يا ويرايش اطلاعات</p>
    </div>
    <div class="card" [style.background]="theme.overlay">
      <div class="card-body" [innerHTML]="text | safeHtml"></div>
      <div class="note-card">
        <div class="text-note">
          <img src="../../../../assets/pictures/Vector.png" alt="یادداشت" class="picture-note">
          <p class="t-note">
            در صورتي كه به هر علتي كد ثبت نام خود را فراموش كرده و يا اقدام به خريد كارت ثبت نام<br>
            نكرده ايد، مي توانيد از دكمه هاي زير اقدام نماييد.
          </p>
        </div>
      </div>
      <div class="btn-group">
        <button
          *ngFor="let i of buttonInfo"
          class="action-btn"
          [style.background-color]="i.bg"
          [style.color]="i.color || '#ffffff'"
          [routerLink]="i.action || null">
          <i class="iconfont" [class]="'iconfont-' + i.icon" *ngIf="i.icon"></i>
          <span class="btn-text">{{ i.name }}</span>
        </button>
      </div>
    </div>
    <div class="section">
      <form [formGroup]="pointForm">
        <nz-form-item>
          <div>
            <label nz-checkbox formControlName="confirm">
              <span class="span-form">موارد بالا را مطالعه کرده و می پذیرم</span>
            </label>
          </div>
        </nz-form-item>
      </form>
    </div>
    <div class="btn-confirm">
      <div class="btn-confirm">
        <button
          type="button"
          nz-button
          class="btn-confirm-option"
          [disabled]="!pointForm.valid"
          (click)="handleOk()">
          شروع فرآیند
        </button>
      </div>
    </div>
  </div>
</div>
