@import url('https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v30.0.0/dist/font-face.css');

@font-face {
  font-family: 'IRANYekan';
  src: url('assets/fonts/iranyekan/eot/iranyekanwebmedium.eot') format('eot'),
  url('assets/fonts/iranyekan/woff/iranyekanwebmedium.woff') format('woff'),
  url('assets/fonts/iranyekan/ttf/iranyekanwebmedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  font-family: 'IRANYekan', Tahoma, Arial, sans-serif !important;
}
