@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-alpine.css";

@font-face {
  font-family: 'Abar';
  src: url('assets/fonts/Abar - Eco 2.0/Abar - Eco 2.0/Abar Family/otf/AbarLow-Medium.otf') format('otf'),
  url('assets/fonts/Abar - Eco 2.0/Abar - Eco 2.0/Abar Family/ttf/AbarLow-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  /*font-family: 'IRANYekan', Tahoma, Arial, sans-serif !important;*/
  font-family: 'Abar', Tahoma, Arial, sans-serif !important;
}


:host ::ng-deep .select .nz-select {
  height: 40px !important;
  border-radius: 6px !important;
  border: 1px solid #d9d9d9;
  padding: 0 12px;
  font-size: 12px;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px black;
}

.ag-theme-alpine {
  direction: rtl;
}

.ag-theme-alpine .ag-header-cell-label {
  justify-content: flex-end;
}

.ag-theme-alpine .ag-cell {
  text-align: right;
}
