.enter-info {
  padding-top: 2rem;
  max-width: 1070px;
  margin: 0 auto;
}

nz-collapse {
  border: 1px solid #8fc3ff;
  border-radius: 10px;
  background: #ddeeff;
}

::ng-deep .ant-collapse-header {
  display: flex !important;
  flex-direction: row-reverse !important;
  align-items: center !important;
  justify-content: space-between !important;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  color: #000000;
  /*text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);*/
}

nz-select {
  width: 50%;
}

.input {
  width: 100%;
  height: 40px !important;
  border-radius: 6px;
  border: 1px solid #d9d9d9;
  padding: 0 12px;
  font-size: 12px;
  transition: all 0.3s ease;
  background-color: #fff;
  margin: 5px;
}

.cont {
  padding: 10px;
}

::ng-deep nz-form-label {
  /*font-weight: bold;*/
  color: #f8f8f8;
  /*text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);*/
}

.custom-input.ng-invalid.ng-touched {
  border-color: #ff4d4f !important;
  box-shadow: 0 0 3px rgba(255, 77, 79, 0.4);
}

.custom-input.ng-valid.ng-touched {
  border-color: #52c41a !important;
}

.no-border-select .ant-select-selector {
  border: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

.no-border-select.ant-select-focused .ant-select-selector {
  border: none !important;
  box-shadow: none !important;
}

.no-border-select.ng-invalid.ng-touched .ant-select-selector {
  border: none !important;
  box-shadow: none !important;
}

.ant-message-notice-content {
  font-weight: bold;
  color: red;
}

::ng-deep .ant-message-notice-content {
  background-color: #181818;
  color: white;
  border: 2px solid #d9d9d9;
  border-radius: 10px;
  font-weight: bold;
  font-size: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.btn-next {
  border-radius: 5px;
}

.submit-container {
  margin-top: 30px;
}

.para {
  font-weight: bold;
  font-size: 12px;
  width: 100%;
  padding: 10px;
  /*text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);*/
}

.paray {
  display: none;
}

.score-card {
  border-radius: 16px;
  direction: rtl;
}

.hint {
  font-size: 12px;
  color: #ff0000 !important;
  font-weight: bold;
  margin-bottom: 18px;
}

.score-section {
  background: #fff;
  padding: 20px;
  border-radius: 16px;
}

.examption-section {
  background: #fff;
  padding: 20px;
  border-radius: 16px;
}

.score-section h3 {
  font-weight: 600;
  margin-bottom: 8px;
  color: #1677ff;
}

.score-section .hint {
  font-size: 12px;
  color: #777;
  margin-bottom: 16px;
}

.option-btn {
  margin-bottom: 8px;
  border-radius: 8px !important;
  text-align: right;
  height: auto;
  white-space: normal;
  line-height: 1.5;
  padding: 10px;
}

.options {
  display: flex !important;
  flex-direction: column;
}

label.ant-checkbox-wrapper {
  margin: 10px;
}

/*.btn-finish {*/
/*  border-radius: 8px;*/
/*  margin: 5px;*/
/*  */
/*}*/

.calendar-wrapper {
  margin-top: 8px;
  display: block;
}

.calendar-wrapper app-jalali-calendar {
  display: block;
  width: 100%;
  max-width: 320px;

}

.calendar-input {
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  padding: 4px;
  background: white;
  cursor: pointer;
  transition: border 0.2s;

}

.calendar-input:hover {
  border-color: #40a9ff;
}


.calendar-input-wrapper {
  margin-top: 8px;
  display: flex;
  justify-content: center;
}

.btn-finish {
  display: inline-flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  min-width: 110px;
  transition: width .12s ease, background-color .12s ease;
  position: relative;
  overflow: hidden;
  max-width: 220px !important;
  height: 40px;
  border: none;
  color: #ffffff;
}

.btn-finish.loader {
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 8px;
}

.btn-finish.loader span {
  display: none;
}

.btn-finish.loader::after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 3px solid rgba(255, 0, 0, 0.25);
  border-top-color: rgb(255, 0, 0);
  animation: spin .8s linear infinite;
}

.checkbox-item {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.remove-x {
  background: #ff4d4f !important;
  color: #000000;
  margin: 10px;
  border: none;
  border-radius: 5px;
  transition: ease-out .5s;
}

.remove-x:hover {
  transform: scale(1.1);
}

.education-table-wrapper {
  margin:0 0 20px 0;
  width: 100%;
  overflow-x: auto;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  padding: 16px;
}

.th {
  padding: 16px;
  font-weight: 300;
}

.th1 {
  border-top-right-radius: 8px;
}

.th2 {
  border-top-left-radius: 8px;
}

.education-table-wrapper .thead {
  padding: 54px;
  margin: 51px;
}

.education-table-wrapper nz-table {
  width: 100%;
  border-spacing: 0;
}

.education-table-wrapper {
  color: #333;
  font-weight: 100;
  text-align: center;
  padding: 0;
  border-bottom: 2px solid #e8e8e8;
}

.education-table-wrapper td {
  text-align: right;
  padding: 25px 18px;
  border-bottom: 1px solid #f0f0f0;
  color: #555;
  font-size: 12px;
}

.education-table-wrapper tr:hover td {
  background-color: #fafafa;
}

.education-table-wrapper th:first-child,
.education-table-wrapper td:first-child {
  border-left: none;
}

.education-table-wrapper th:last-child,
.education-table-wrapper td:last-child {
  border-right: none;
}

.education-table-wrapper tr:last-child td {
  border-bottom: none;
}

label
{
  font-size: 12px !important;
}

.label-custom {
  font-size: 12px !important;
}

.btn-group-end {
  display: flex;
  align-items: center;
  justify-content: end;
}

.active-panel {
  background: rgba(252, 229, 243, 0.5) !important;
}
.collapse-panel{
  padding: 10px;
}

::ng-deep .ant-collapse-item {
  margin-bottom: 16px !important;
  border-radius: 12px;
  border: none;
}

::ng-deep .ant-collapse {
  border: none;
}

::ng-deep .ant-collapse {
  border: none !important;
  background: white !important;
}

::ng-deep .ant-collapse-item-active {
  border-color: transparent !important;
}

::ng-deep .ant-collapse-item:last-child {
  border-bottom: none !important;
}

::ng-deep .ant-collapse-content {
  border: none !important;
  background: var(--collapse-content-bg) !important;
}

::ng-deep .ant-collapse-header {
  border-bottom: none !important;
  background: var(--collapse-header-bg) !important;
  outline: none !important;
}

.enter-info nz-collapse > .ant-collapse-item:last-child,
.enter-info nz-collapse > .ant-collapse-item:last-child .ant-collapse-header,
.enter-info nz-collapse > .ant-collapse-item:last-child .ant-collapse-content {
  border-radius: 12px !important;
}

.uploaded-file-box2 {
  margin-top: 8px;
  padding: 8px;
  background: none;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.uploaded-file-box {
  /*margin-top: 8px;*/
  /*padding: 8px;*/
  background: none;
  margin-top: -30px;
  /*background: #f7f7f7;*/
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.file-name {
  font-weight: 500;
}

.open-file {
  color: #1677ff;
  text-decoration: underline;
  cursor: pointer;
}

.remove-btn {
  width: 30px;
  height: 30px;
  background: #ff4d4f;
  border: none;
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}






